.header__container {
  display: flex;
}

.control__container {
  display: flex;
  flex: 1;
  margin-left: 16px;
  > button {
    margin: 0 24px 0 auto;
  }
  .input__search {
    border: none;
    outline: none;
    box-shadow: unset;
    margin-left: 40px;
    background-color: #f5f5f5;
    border-radius: 999px;
    max-width: 240px;
    input {
      background-color: #f5f5f5;
    }
  }
}
