.brandcarrow__container {
  display: flex;
  width: calc(100% - 40px);
  align-items: center;
  padding: 30px 24px;
  border-bottom: 1px solid #f1f1f1;
  margin: 0 20px;
  font-weight: 500;
  > button {
    margin-left: auto;
  }
  .brandcarrow__img {
    height: 64px;
    border-right: 2px solid #5f5f5f;
    padding: 0 40px;
  }
  .brandcarrow__quantity {
    width: 30%;
    margin: 0 20px 0 40px;
    > span {
      font-weight: 500;
      font-size: 20px;
      color: var(--color-primary);
    }
    > div {
      display: flex;
      align-items: center;
      > span + span {
        padding: 0 8px;
      }
      > span:first-child {
        border-right: 1px solid #e3e3e3;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 8px;
        white-space: nowrap;
        display: inline-block;
        height: fit-content;
        font-weight: 400;
        color: #8c8c8c;
      }
      > span:nth-child(2) {
        white-space: nowrap;
        color: #0f5edd;
      }
    }
  }
  .brandcarrow__date--update {
    display: flex;
    flex-direction: column;
    width: 20%;
    > span:first-child {
      font-weight: 500;
      font-size: 14px;
      line-height: 32px;
      color: var(--color-primary);
    }
  }
}

.active__brand {
  border-right: 2px solid #0fc97b !important;
}

.brandcarrow__status--select {
  display: flex;
  align-items: center;
  background: #fafafa;
  border-radius: 48px;
  padding: 0 16px;
  height: 38px;
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e3e3e3;
    margin-right: 8px;
  }
}

.select__wrapper__active {
  background: #cef7e2 !important;
  .dot {
    background-color: #1f7b4d !important;
  }
}

.form__container {
  padding: 24px;
  > form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    .select__wrapper {
      background: #fafafa;
      border-radius: 48px;
    }
    .form__item--half {
      width: calc(50% - 16px);
      > div {
        width: 100%;
      }
    }
    .form__item--full {
      width: 100%;
      > div {
        width: 100%;
      }
    }
    .controls__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      width: 100%;
      height: 48px;
      border-bottom: 1px solid #f1f1f1;
      margin-bottom: 16px;
    }
    .upload__wraper {
      margin: 8px 0 24px 0;
    }
    .btn__group {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      > button {
        margin-left: 8px;
      }
    }
  }
}
