:root {
  --color-primary: #2f465f;
  --color-primary-1: #389e0d;
  --color-primary-2: #95de64;
  --color-background: #232323;
  --color-daybreak-blue: #e6f7ff;
  --color-dark-gray: #595959;
  --color-danger: #ee1b24;
}
