.container {
  background: #fff;
  position: relative;
  top: -70px;
  width: 1242px;
  height: 140px;
  margin: 0 auto;
  border: 1px solid #e3e3e3;
  box-shadow: 20px 20px 120px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
