.container {
  background: #fff;
  position: relative;
  top: -70px;
  width: 1242px;
  margin: 0 auto;
  > div {
    border: 1px solid #e3e3e3;
    box-shadow: 20px 20px 120px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
  }
  .item {
    display: flex;
    justify-content: space-between;
  }
}
.menu__range__price {
  display: flex;
  flex-direction: column;
  width: calc(100% - 10px);
  background: #fff;
  padding: 24px;
  margin: 0 auto;
  z-index: 10;
  border-radius: 15px;
  box-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05), 0px 8px 16px rgba(48, 49, 51, 0.1);
  > span {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}
.form__rangge__price {
  display: flex;
  justify-content: space-between;
  > span {
    display: flex;
    align-items: center;
  }
}

.form__item--half {
  width: calc(50% - 8px);
  margin: 0;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 0 12px;
  input {
    padding: 0;
  }
  > div > div {
    height: 32px;
    > label {
      line-height: 16px;
    }
  }
}
@media only screen and (min-width: 375px) {
  .container {
    width: 100% !important;
    top: 0;
    padding: 0 8px;
  }
}
