.copyright {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  background: #232323;
  width: 100%;
  height: 48px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.container {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  > .subscribe {
    > span:first-child {
      display: inline-block;
      margin-bottom: 8px;
    }
    > span {
      margin-bottom: 8px;
      > strong {
        color: var(--color-danger);
      }
    }
  }
  .social {
    > span {
      margin-right: 16px;
    }
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
  .ucar__description {
    display: flex;
    font-weight: 400;
    font-size: 10px;
    > div {
      margin-right: 24px;
    }
    > span {
      text-align: center;
    }
  }
}

.container {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  > .subscribe {
    > span {
      margin-bottom: 8px;
      > strong {
        color: var(--color-danger);
      }
    }
  }
  .social {
    > span {
      margin-right: 16px;
    }
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__responsive {
  display: none;
}

.contact {
  display: flex;
  padding: 40px 90px;
  justify-content: space-between;
  > .about__us,
  .services,
  .resuorces {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-transform: capitalize;
    > a {
      color: #333;
    }
  }

  > .social {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: flex-start;
    h3 > span {
      color: var(--color-danger);
    }
    > .social__icon {
      display: flex;
      width: 70%;
      padding-top: 10px;
      flex-direction: row;
      align-items: center;
      column-gap: 16px;
    }
  }

  > .contact__address {
    width: 25%;
    > .logo {
      width: 100%;
    }
  }
}

.advertise {
  display: flex;
  justify-content: space-between;
  padding: 40px 90px;
}

@media only screen and (max-width: 375px) {
  .footer__responsive {
    display: block;
  }
  .footer {
    display: none;
  }
}
