.container {
  height: 361px;
  width: 350px;
  .text__1 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    > span {
      &:first-child {
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
      }
      &:nth-child(2) {
        font-weight: 400;
        font-size: 19.0663px;
        line-height: 29px;
      }
    }
  }
  .text__2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    > span {
      font-size: 20px;
      line-height: 29px;
      &:first-child {
        font-weight: 400;
      }
      &:nth-child(2) {
        font-weight: 700;
        color: var(--color-danger);
      }
    }
  }
}
